<br><br><div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">¿QUIENES SOMOS? </h2><br>
      <p class="lead">El cambio climático está obligando a los osos polares a pasar más tiempo en tierra por lo que éstos entran en contacto más a menudo con las comunidades de la región. Desafortunadamente estas interacciones en ocasiones no terminan bien para los humanos y los osos.
</p>
      <br><p class="lead"> En Rusia y Alaska, WWF está haciendo frente a este desafío apoyando los esfuerzos locales para proteger a las personas y a los osos polares. También trabajamos monitoreando las poblaciones de los osos polares; contribuimos a reducir los impactos generados por la industria; y protegemos las últimas regiones de hielo marino del Ártico.</p>
    </div>
    <div class="col-md-5">
     <img src="./../../assets/7.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="700" role="img" aria-label="Placeholder: 500x500">
 </div>
  </div>
<br><br>
 
<div class="container">
    <div class="row">
        <div class="col-lg-3 ">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/CFsBaoomdow?si=jOxniU5iuTDpHllw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-3 ">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HK-62WiM-fM?si=pnhElDT3y_OHg7Kt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ngKDQNzdEVM?si=_iLd5GBl0erbchzb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<br>
<div class="d-flex justify-content-center">
    <img src="./../../assets/LO.JPG" alt="Logo" class="rounded-circle">
</div>
