<!DOCTYPE html>
<html lang="es">
<head>
    <title>Página de Contacto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-4">Contacto</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Ubicación</h2>
                <p>Calle Principal 123, La Paz, Bolivia</p><br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d122403.52747815158!2d-68.20647981201857!3d-16.520531611223788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sbo!4v1718091922170!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br>
                <h2>Redes Sociales</h2>
                <div class="d-flex justify-content-around">
                    <a href="whatsapp://send?text=Hola!&phone=+1234567890">
                        <img src="./../../assets/1w.jfif" alt="WhatsApp" style="width: 50px; height: 50px;">
                    </a>
                    <a href="https://www.instagram.com/tu_usuario/">
                        <img src="./../../assets/1i.jfif" alt="Instagram" style="width: 50px; height: 50px;">
                    </a>
                    <a href="https://www.tiktok.com/@tu_usuario">
                        <img src="./../../assets/1t.png" alt="TikTok" style="width: 50px; height: 50px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
