<br><br>
<div class="container-fluid mt-5 text-center" style="font-family: Arial, sans-serif; text-align: justify;">
    <h1 class="text-center display-4"><b>Durante nuestra experiencia </b></h1>
    <p class="lead">Bolivia es uno de los países con más biodiversidad del mundo, lo que se conoce como megadiversidad, y de hecho se encuentra en el séptimo puesto en cuanto a este parámetro. Pero al igual que pasa en casi todo el mundo, muchas de estas especies se encuentran en peligro de extinción debido a varias actividades, la mayoría de los problemas debido a los seres humanos.</p>
    <p class="lead">En este artículo de EcologíaVerde recopilamos 13 animales en peligro de extinción en Bolivia.</p>
    
</div>
<br><br><div class="container">
    <div class="row bg-primary">
        <div class="col-md-4">
            <h3 class="text-center text-white">Tití emperador (Saguinus imperator)</h3>
            <img src="-/../../../assets/8.JPG" class="img-thumbnail">
            <p class="text-white text-justify">Se trata de una especie de mono que vive en las copas de los árboles tanto en bosques secos como lluviosos. Posee un pelaje entre negro y gris, con tonos amarillos en la espalda. Los titís emperadores son animales omnívoros.</p>
          </div>
          
      <div class="col-md-4">
        <h3 class="text-center text-white">Falso vampiro (Vampyrum spectrum)</h3>
        <img src="../../assets/9.JPG" class="img-thumbnail">
        <p class="text-white text-justify">Se trata de uno de los murciélagos de mayor tamaño del mundo. Presenta un pelaje marrón oscuro o anaranjado y habita en bosques, junglas y sabanas, alimentándose de anfibios, insectos, pequeños pájaros y reptiles.</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-center text-white">Delfín boliviano (Inia boliviensis)</h3>
        <img src="../../assets/10.JPG" class="img-thumbnail">
        <p class="text-white text-justify">También es llamado ñandú cordillerano, ñandú de Darwin, ñandú del norte, suri, choique, ñandú petiso, ñandú de las alturas, ñandú andino. Es un ave que alcanza hasta 1,20 metros de alto y hasta 25 kg. A pesar de ser un ave, no puede volar, pero sí es un gran corredor, llegando a alcanzar los 60 kilómetros por hora. Tiene un plumaje gris, blanquecino o castaño   </div>
    </div>
    <div class="row bg-secondary">
        <div class="col-md-4">
            <h3 class="text-center text-white">Ñandú o avestruz andino (Pterocnemia pennata)</h3>
            <img src="../../assets/10.JPG" class="img-thumbnail">
            <p class="text-white text-justify">Se trata de uno de los murciélagos de mayor tamaño del mundo. Presenta un pelaje marrón oscuro o anaranjado y habita en bosques, junglas y sabanas, alimentándose de anfibios, insectos, pequeños pájaros y reptiles.</p>
          </div>
          <div class="col-md-4">
            <h3 class="text-center text-white">Escarabajo satanás (Dynastes satanas)</h3>
            <img src="../../assets/11.JPG" class="img-thumbnail">
            <p class="text-white text-justify">Se trata de una especie muy rara y llamativa por sus características taxonómicas. Sus machos son más grandes que las hembras y habitan en zonas húmedas y boscosas. Lo escarabajos satanás tienen un ciclo de vida corto, de solo dos años.   </div>
          <div class="col-md-4">
            <h3 class="text-center text-white">Gato andino (Leopardus jacobita)</h3>
            <img src="../../assets/12.JPG" class="img-thumbnail">
            <p class="text-white text-justify">Se trata de un pequeño felino de pelaje grisáceo plateado, orejas grandes y redondeadas, que le dan un gran sentido auditivo. Es carnívoro y se alimenta de aves, roedores y huevos de reptiles.        </div>
        </div>
        <div class="row bg-success">
            <div class="col-md-4">
                <h3 class="text-center text-white">Guanaco (Lama guanicoe guanicoe)</h3>
                <img src="../../assets/13.JPG" class="img-thumbnail">
                <p class="text-white text-justify">El guanaco es un mamífero parecido a la llama, pero más pequeño. Este animal herbívoro tiene una cabeza pequeña con grandes orejas y ojos y vive en regiones áridas y semiáridas, aunque también en zonas montañosas de hasta 4.500 metros sobre el nivel del mar.        </div>
              <div class="col-md-4">
                <h3 class="text-center text-white">Pecarí quilimero (Catagonus wagneri)</h3>
                <img src="../../assets/14.JPG" class="img-thumbnail">
                <p class="text-white text-justify">Se conoce también como tagua y es un mamífero endémico de Bolivia y varios países sudamericanos. Vive en zonas secas de vegetación espinosa y se alimenta de cactus y demás plantas.  </div>
              <div class="col-md-4">
                <h3 class="text-center text-white">Puma o león de montaña (Puma concolor)</h3>
                <img src="../../assets/16.JPG" class="img-thumbnail">
                <p class="text-white text-justify">Es un felino que vive a lo largo de todo el continente americano. En Sudamérica habita principalmente en las proximidades de la Cordillera de los Andes. Es uno de los mayores felinos del mundo y vive en zonas de densa vegetación, donde acecha escondido a sus presas.  </div>
    
    </div>
    
  