
<br>
<div class="container">
    <div class="row justify-content-center bg-lightblue">
      <div class="col-lg-2">
        <img class="rounded-circle" src="./../../assets/17.jfif" width="140" height="140" alt="Descripción de la imagen">
      </div>
      <div class="col-lg-2">
        <img class="rounded-circle" src="./../../assets/18.jpg" width="140" height="140" alt="Descripción de la imagen">
      </div>
      <div class="col-lg-2">
        <img class="rounded-circle" src="./../../assets/19.jfif" width="140" height="140" alt="Descripción de la imagen">
      </div>
      <div class="col-lg-2">
        <img class="rounded-circle" src="./../../assets/20.jfif" width="140" height="140" alt="Descripción de la imagen">
      </div>
      <div class="col-lg-2">
        <img class="rounded-circle" src="./../../assets/21.jfif" width="140" height="140" alt="Descripción de la imagen">
      </div>
    </div>
  </div><br>
  <div style="background-color: #808080;">
    <h1 class="mt-4 mb-4 text-center">Animales en Peligro de Extinción en Bolivia</h1><br><br>
    <h2>Nuestra Experiencia</h2><br>
    <p style="color: white;">Hemos estado trabajando en el campo de la conservación de la vida silvestre durante más de 10 años. Nuestro equipo está compuesto por biólogos, ecologistas y voluntarios dedicados que trabajan incansablemente para proteger a las especies en peligro de extinción en Bolivia.</p>
    <br>
</div>

<br><br>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">¿QUÉ ESTAMOS HACIENDO ? </h2><br>
      <p class="lead">El cambio climático está obligando a los osos polares a pasar más tiempo en tierra por lo que éstos entran en contacto más a menudo con las comunidades de la región. Desafortunadamente estas interacciones en ocasiones no terminan bien para los humanos y los osos.
</p>
      <br><p class="lead"> En Rusia y Alaska, WWF está haciendo frente a este desafío apoyando los esfuerzos locales para proteger a las personas y a los osos polares. También trabajamos monitoreando las poblaciones de los osos polares; contribuimos a reducir los impactos generados por la industria; y protegemos las últimas regiones de hielo marino del Ártico.</p>
    </div>
    <div class="col-md-5">
     <img src="./../../assets/21.jfif" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="700" role="img" aria-label="Placeholder: 500x500">
 </div>
  </div>
  <br>
  <br><div style="background-color: #808080;">
    <br><h1 class="mt-4 mb-4 text-center">Especies en Peligro</h1><br>
    <h3>Chinchilla chinchilla</h3>
    <p style="color: white;">Un roedor de pequeño tamaño endémico de Bolivia, principalmente de los bosques nublados de las zonas rocosas.</p>
    <h3>Leopardus jacobita (Gato andino)</h3>
    <p style="color: white;">Este felino se encuentra en peligro debido a la pérdida de su hábitat y la caza para obtener su pelaje.</p>
    <h3>Priodontes maximus</h3>
    <p style="color: white;">Este animal se encuentra amenazado por la invasión de su hábitat con fines agrícolas o ganaderos.</p>
    <h3>Dinomys branickii</h3>
    <p style="color: white;">Este roedor se alimenta de hierbas y arbustos. Su principal amenaza es la caza para obtener su pelaje.</p>
    <h3>Panthera onca (Jaguar)</h3>
    <p style="color: white;">El jaguar enfrenta una disminución preocupante de sus poblaciones debido a la pérdida de hábitat y a la presión ejercida por la actividad humana en sus entornos naturales.</p>
    <h3>Callimico goeldii</h3>
    <p style="color: white;">Este primate se encuentra amenazado por la deforestación de su hábitat y la utilización de sus tierras para actividades mineras y agrícolas.</p>
</div>
